body {
    background: url("../images/body_bg.jpg");
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}
nav {
    background-color: #000;
}
.nav {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}
.brand {
    float: left;
}
.brand h1 {
    font-weight: bold;
    color: #337589;
}
.dropdown-menu {
    background: #337ab7;
    min-width: 110px;
    text-align: center;
    font-weight: bold;
}
.dropdown-menu>li>a {
    color: #ffffff;
}
.login {
    float: right;
    margin-top: 20px;
}
.login .btn {
    color: #f3f5f7;
}
#container {
    position: relative;
    width: 1200px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    margin: 20px auto 0;
}
.left .food,.soul,.zhushi,.water {
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}
.left {
    height: 530px;
    overflow: scroll;
}
.thumbnail {
    text-align: center;
}
.thumbnail img {
    border-radius: 10px;
}
.thumbnail p {
    display: inline-block;
}
.right {
    text-align: center;
}
.right .list-group {
    padding: 0 5px 50px;
    background: #ffffff;
    border: 1px solid #ebebeb;
}
.right .list-group-item {
    cursor: pointer;
    border: none;
    padding: 20px 15px;
}
.right .list-group-item a{
    color: #666;
    font-weight: bold;
}

.right .list-group-item:nth-child(2) {
    background: url("../images/bar_bg1.jpg");
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;;
}
.right .list-group-item:nth-child(3),.list-group-item:nth-child(4),.list-group-item:nth-child(5) {
    background: url("../images/bar_bg2.jpg");
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    margin-top: -1px;
    height: 70px;
}
.m-water,.m-zhushi,.m-soul {
    display: inline-block;
    padding-top: 10px;
}
.right .list-group-item:nth-child(4),.list-group-item:nth-child(5) {
    margin-top: -3px;
}
.menu tr {
    height: 20px;
}
#end {
    margin: 0 auto -10px;
    width: 20px;
    height: 20px;
    display: block
}
.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
}
.trow th,td {
    padding: 15px 30px;
}
.thumbnail {
    padding: 0;
    position: relative;
    overflow: hidden;
}
.thumbnail img {
   width: 100%;
}
.information {
    position: relative;
    overflow: hidden;
}
.information .hover_pbg {
    height: 84px;
    background: rgba(40,164,201,.6);
    width: 100%;
    position: absolute;
    bottom: -82px;
    left: 0;
    padding: 0;
    margin: 0;
}
.thumbnail .hover_ibg {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 289px;
    position: absolute;
    margin-top: -300px;
    left: 0;
}
.check {
    top: 145px;
    left: 130px;
    position: absolute;
    font-size: 200%;
    color:red;
}
th,td {
    color: #666;
    text-align: center;
}
.minus,.plus {
    padding: 2px 10px;
}
.table>tbody>tr>td {
    vertical-align: inherit;
}
/*Ä£ºý±³¾°*/
.blur {
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
